a {
    text-decoration: none;
    color: inherit
}

.card {
    height: 100%;
}

a:hover {
    text-decoration: none;
    color: inherit
}

#app .nav-box .col-md-12 {
    padding: 0;
}

#app .banner-box .content {
    padding: 0;
}

#app .banner-box .content .image-box {
    width: 100%;
    height: 500px;
    background-color: #dedede;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

#app .banner-box .content .image-box .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app .banner-box .content .image-box .backdrop .box-text {
    color: #fff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#app .section-1 {
    padding: 5% 0 0;
}

#app .section-1 .product-box,
#wrapper-events {
    padding: 0 2.5%;
}

#app .section-1 .product-box .products,
#wrapper-events .event-box {
    margin-bottom: 20px;
}

#app .section-1 .product-box .wrapper-product,
#wrapper-events .event-box .wrapper-event {
    border-radius: 10px 10px 10px 10px;
}

#wrapper-events .event-box .wrapper-event .products {
    margin-bottom: 20px;
}

#app .section-1 .product-box .wrapper-product .image-box .images,
#wrapper-events .event-box .wrapper-event .image-box .images {
    width: 100%;
    height: 150px;
    background-color: #dedede;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
}

#app .section-1 .product-box .wrapper-product .text-box,
#wrapper-events .event-box .wrapper-event .text-box {
    padding: 10px 10px;
}

#app .section-1 .product-box .wrapper-product .text-box p,
#wrapper-events .event-box .wrapper-event .text-box p {
    font-size: 12px;
    margin-bottom: 10px;
}

#app .section-1 .product-box .wrapper-product .text-box .box-price,
#wrapper-events .event-box .wrapper-event .text-box .box-price {
    font-size: 12px;
    display: none;
}

#app .section-1 .product-box .wrapper-product .text-box .box-price.active,
#wrapper-events .event-box .wrapper-event .text-box .box-price.active {
    display: block;
}

#app .section-2 {
    padding: 5% 0 0;
}

#app .section-2 .section-box .wrapper-section .left-side.text-box,
#app .section-2 .section-box .wrapper-section .right-side.text-box {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app .section-2 .section-box .wrapper-section .left-side.text-box .wrapper-text,
#app .section-2 .section-box .wrapper-section .right-side.text-box .wrapper-text {
    width: 85%;
}

#app .section-2 .section-box .wrapper-section .left-side.text-box h4,
#app .section-2 .section-box .wrapper-section .right-side.text-box h4 {
    text-align: center;
}

#app .section-2 .section-box .wrapper-section .left-side.text-box p,
#app .section-2 .section-box .wrapper-section .right-side.text-box p {
    text-align: justify;
}

#app .section-2 .section-box .wrapper-section .right-side.images-box,
#app .section-2 .section-box .wrapper-section .left-side.images-box {
    padding: 0;
}

#app .section-2 .section-box .wrapper-section .right-side.images-box .image,
#app .section-2 .section-box .wrapper-section .left-side.images-box .image {
    width: 100%;
    height: 400px;
    background-color: #dedede;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#app .footer {
    background-color: #212529;
    color: #fff;
}

#app .footer .footer-box {
    padding: 2.5% 0;
}

#app .footer .footer-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

#app .footer .footer-box ul li {
    margin: 0 20px;
}

#events-detail {
    padding: 2.5% 2.5%;
}

#events-detail .wrapper-left {
    
}

#events-detail .wrapper-left .wrapper-box {

}

#events-detail .wrapper-left .wrapper-box .title-box {

}

#events-detail .wrapper-left .wrapper-box .description-box {
    text-align: justify;
}

#events-detail .wrapper-right {
    
}

#events-detail .wrapper-right .wrapper-box {
    padding: 0 5%;
}

#events-detail .wrapper-right .card {
    padding: 0;
}

#events-detail .wrapper-right .card .wrapper-top {
    padding: 10px;
}

#events-detail .wrapper-right .card .wrapper-top h5 {
    margin: 0;
}

#events-detail .wrapper-right .card .wrapper-middle {
    padding: 2.5% 2.5%;
}

#events-detail .wrapper-right .card .wrapper-middle .bold {
    font-weight: 700;
}

#events-detail .wrapper-right .card .wrapper-middle .thin {
    font-size: 12px;
}

#events-detail .wrapper-right .card .ticket-box {
    padding: 2.5%;
}


/* Font Style */
.roboto {
    font-family: 'Roboto Serif', sans-serif;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
}

.font-bold {
    font-weight: 1000;
}

/* Style Part 2 */

#app2 .banner-box .content {
    padding: 0;
}

#app2 .banner-box .content .image-box {
    width: 100%;
    height: 500px !important;
    background-color: #dedede;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

#app2 .banner-box .content .image-box .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: relative;
}

#app2 .banner-box .content .image-box .backdrop .box-text {
    position: absolute;
    color: #fff;
    bottom: 50px;
    left: 50px;
}

#app2 .mission-box {
    background-color: #e8f1f9;
    padding: 10% 5%;
    /* box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.25); */
}

#app .mission-box .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app2 .mission-box .card {
    margin: auto !important;
    width: 85% !important;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}

#app2 .mission-box .icon-box {
    font-size: 48px;
    /* color: #46a4f7; */
    color: #0d3457;
}

#app2 .mission-box .card-title {
    font-weight: 1000;
}

#app2 .mission-box .card-text {
    font-size: 12px;
}

#app2 .mission-box .card-body {
    padding-top: 5px;
}

#app2 .profile-box .left-content {
    /* padding: 5% 5% 0%; */
    padding: 5% 5%;
    padding-right: 2.5%;
}

#app2 .profile-box .left-content .top-text {
    position: relative;
    margin-bottom: 15px;
}

#app2 .profile-box .left-content .top-text::before {
    content: '';
    width: 75px;
    height: 3.5px;
    background-color: #46a4f7;
    position: absolute;
    bottom: -7.5px;
    left: 12.5px;
    border-radius: 10px;
}

#app2 .profile-box .left-content .descrpition-box,
#app2 .profile-box .bottom-content .descrpition-box {
    font-size: 14px;
    position: relative;
}

#app2 .profile-box .left-content .descrpition-box::before {
    content: '';
    width: 100px;
    height: 3.5px;
    background-color: #46a4f7;
    position: absolute;
    bottom: -7.5px;
    left: 12.5px;
    border-radius: 10px;
}

#app2 .profile-box .right-content .wrapper-content {
    height: 100%;
}

#app2 .profile-box .right-content .wrapper-content .wrapper-images {
    padding: 5% 0 5% 10%;
    position: relative;
}

#app2 .profile-box .right-content .wrapper-content .wrapper-images .images {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.25);
    position: relative;
}

#app2 .profile-box .right-content .wrapper-content .wrapper-images .images:before {
    content: '';
    /* width: 120%; */
    width: 100%;
    height: 100%;
    position: absolute;
    left: -12.5px;
    bottom: -12.5px;
    border: 2.5px solid rgba(34, 74, 114, 0.5);
    z-index: -1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#app2 .profile-box .right-content .wrapper-content .wrapper-images .images:after {
    /* content: ''; */
    /* width: 120%; */
    width: 100%;
    height: 100%;
    position: absolute;
    left: -7.5px;
    bottom: -7.5px;
    /* background-color: rgba(34, 74, 114, 0.5); */
    border: 2.5px solid rgba(34, 74, 114, 0.5);
    z-index: -1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#app2 .profile-box .bottom-content {
    padding: 1.5% 5%;
}

#app2 .profile-box .bottom-content .descrpition-box .wrapper-images {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

#app2 .profile-box .bottom-content .descrpition-box .wrapper-images .images {
    width: 100%;
    height: 300px;
    background: #46a4f7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

#app2 .section-1 {
    padding: 1.5% 0 0;
    background-color: #e8f1f9;
}

#app2 .section-1 .product-box,
#wrapper-events {
    padding: 0 2.5%;
}

#app2 .section-1 .product-box .products,
#wrapper-events .event-box {
    margin-bottom: 20px;
}

#app2 .section-1 .product-box .wrapper-product,
#wrapper-events .event-box .wrapper-event {
    border-radius: 10px 10px 10px 10px;
}

#wrapper-events .event-box .wrapper-event .products {
    margin-bottom: 20px;
}

#app2 .section-1 .product-box .wrapper-product .image-box .images,
#wrapper-events .event-box .wrapper-event .image-box .images {
    width: 100%;
    height: 150px;
    background-color: #dedede;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
}

#app2 .section-1 .product-box .wrapper-product .text-box,
#wrapper-events .event-box .wrapper-event .text-box {
    padding: 10px 10px;
}

#app2 .section-1 .product-box .wrapper-product .text-box p,
#wrapper-events .event-box .wrapper-event .text-box p {
    font-size: 12px;
    margin-bottom: 10px;
}

#app2 .section-1 .product-box .wrapper-product .text-box .box-price,
#wrapper-events .event-box .wrapper-event .text-box .box-price {
    font-size: 12px;
    display: none;
}

#app2 .section-1 .product-box .wrapper-product .text-box .box-price.active,
#wrapper-events .event-box .wrapper-event .text-box .box-price.active {
    display: block;
}

#app2 .quote-box {
    background-color: #dedede;
    padding: 2.5% 5%;
}

#app2 .quote-box .content {
    font-size: 24px;
    text-align: center;
    font-style: italic;
    font-family: "Roboto";
}

#app2 .quote-box .content .quote-t {
    font-family: "Nunito";
}

#w1 {
    background-color: #0d3457 !important;
}

.site-login {
    height: 100vh;
    background-color: #46a4f7;
}

.site-login .wrapper-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-login .wrapper-login .card {
    padding: 5% 5%;
}